#Netsted Loop - Its is possible to write one loop inside another loop.

In [2]:
for i in range(3):
    for j in range(4):
        print('i=', i, '\t', 'j=', j)

i= 0 	 j= 0
i= 0 	 j= 1
i= 0 	 j= 2
i= 0 	 j= 3
i= 1 	 j= 0
i= 1 	 j= 1
i= 1 	 j= 2
i= 1 	 j= 3
i= 2 	 j= 0
i= 2 	 j= 1
i= 2 	 j= 2
i= 2 	 j= 3

Either you can use single space or double doesn't matter.

In [20]:
input_name = input("What is your name? ")
print("My name is: " + input_name)

My name is: Manjuldas Solanke

In [6]:
if 3 > 5:
 print("3 is less than 5")
else:
    print("3 is not less than 5")

3 is not less than 5

A python program that displays stars in right angled trianguler form using a single loop.

In [28]:
for i in range(1, 11):
    print('* '*(i))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

A python program to display the stars in an equilateral triangular form using a single for loop

In [30]:
n=40
for i in range(1, 11):
    print(' '*n, end='')
    print('* '*(i))
    n-=1

                                        *
                                       * *
                                      * * *
                                     * * * *
                                    * * * * *
                                   * * * * * *
                                  * * * * * * *
                                 * * * * * * * *
                                * * * * * * * * *
                               * * * * * * * * * *

A python program that displays stars in right angled triangular form using nested loop

In [27]:
for i in range(1, 11): # Outer loop: controls the row ( 1 to 10)
    for j in range(1, i+1): # inner loop: controls the star per row
        print('*', end='') # Print the stars on the same line
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [1]:
print('Hello there, how are you!')

Hello there, how are you!